@using CMon.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject SignInManager<DbUser> SignInManager
@inject UserManager<DbUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user-o fa-fw" aria-hidden="true"></i>&nbsp;<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="dropdown-header">@UserManager.GetUserName(User)</li>
				<li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-id-card-o fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Manage"]</a></li>
				<li><a href="~/hangfire"><i class="fa fa-fire fa-fw" aria-hidden="true"></i>&nbsp; Hangfire Dashboard</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Log out"]</a></li>
			</ul>
		</li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; @Localizer["Log in"]</a></li>
	</ul>
	<p class="navbar-form navbar-right">
		<button class="btn btn-primary" onclick="location.href = '@Url.Action("Register", "Account")'; return false;">@Localizer["Register"]</button>
	</p>
}
