@using CMon.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject SignInManager<DbUser> SignInManager
@inject UserManager<DbUser> UserManager
@inject IViewLocalizer Localizer


@if (SignInManager.IsSignedIn(User))
{
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				@UserManager.GetUserName(User) <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="@Url.Action("Index", "Manage")">@Localizer["Manage"]</a></li>
				<li><a href="@Url.Action("Logout", "Account")">@Localizer["Log out"]</a></li>
			</ul>
		</li>
	</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a></li>
    </ul>
}
