@using CMon.Services
@using Microsoft.AspNetCore.Mvc.Localization

@inject IDeviceRepository DeviceRepository
@inject IViewLocalizer Localizer

@{
	var appName = "c°mon";
	var version = Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="uTtk4l8cK8HfssECFR_daQ4TF_-PMiFVMCUPGlnelOE" />
	<meta name="yandex-verification" content="12835df1d1494c86" />
    <title>@ViewData["Title"] | @appName</title>
	<link rel="stylesheet" href="~/build/styles.css" />
</head>
<body class="dashboard">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
	            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@appName</a>
            </div>
            <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							@Localizer["Controllers"] <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							@{
								foreach (var device in DeviceRepository.GetDevices())
								{
									<li><a href="@Url.Action("Index", "Device", new { deviceId = device.Id })">#@device.Id</a></li>
								}
							}
						</ul>
					</li>
	            </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
	<div class="container-fluid content">
	
		<div class="sidebar">
			<div class="sidebar-body">
				<div class="nav-section">
					<div class="nav-heading">Catalog</div><ul class="nav nav-stacked"><li><a class="" href="#/products"><i class="fa fa-fw fa-list-alt"></i><span>Products</span></a></li><li><a class="" href="#/classifiers"><i class="fa fa-fw fa-list"></i><span>Classifiers</span></a></li><li><a class="" href="#/posts"><i class="fa fa-fw fa-commenting-o"></i><span>Posts</span></a></li><li><a class="" href="#/companies"><i class="fa fa-fw fa-lock"></i><span>Companies</span></a></li><li><a class="" href="#/import"><i class="fa fa-fw fa-upload"></i><span>Import</span></a></li></ul>
				</div>
				<div class="nav-section">
					<div class="nav-heading">Administration</div><ul class="nav nav-stacked"><li><a class="" href="#/fieldsets"><i class="fa fa-fw fa-tasks"></i><span>Fieldsets</span></a></li><li><a class="active" href="#/settings"><i class="fa fa-fw fa-cogs"></i><span>Settings</span></a></li></ul>
				</div>
			</div>
			<div class="sidebar-footer">
				<a class="sidebar-toggle"><i class="icon fa"></i></a>
			</div>
		</div>
		
		@RenderBody()
		<hr />
		<footer>
			<div class="pull-right">
				@await Html.PartialAsync("_SelectLanguagePartial")
			</div>
			<p>
				&copy; @DateTime.Today.Year -
				<a class="version" href="@Url.Action("Index", "ChangeLog")#@version">
					@version
				</a>
			</p>
		</footer>
	</div>

	<script type="text/javascript" src="~/build/scripts.js"></script>

    @RenderSection("scripts", required: false)
	
	@await Html.PartialAsync("_GoogleAnalytics")
	@await Html.PartialAsync("_YandexMetrika")
</body>
</html>
