@using Microsoft.AspNetCore.Mvc.Localization
@model CMon.ViewModels.Device.DevicePageViewModel

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "#" + Model.Id;
}

@section navbar_left {

	@{
		var selected = Model.Devices.FirstOrDefault(x => x.Id == Model.Id);
	}

	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				@if (selected == null)
				{
					@Localizer["Controllers"]
				}
				else
				{
					@selected.Name <span class="small">@selected.Imei</span>
				}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				@foreach (var device in Model.Devices)
				{
					<li class="@(device.Id == Model.Id ? "active" : string.Empty)">
						<a href="@device.Url">@device.Name <span class="small">@device.Imei</span></a>
					</li>
				}
				<li role="separator" class="divider"></li>
				<li>
					<a href="@Url.Action("Add", "Device")">
						<i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Add Device
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="dropdown-toggle" data-toggle="collapse" data-target="#device-settings" role="button" aria-haspopup="false" aria-expanded="true">
				<i class="fa fa-cog" aria-hidden="true"></i>&nbsp;<span class="status"></span><span class="caret"></span>
			</a>
		</li>
	</ul>
}

@section navbar_right {
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a class="dropdown-toggle" data-toggle="collapse" data-target="#time-range" role="button" aria-haspopup="false" aria-expanded="true">
				<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span id="selected-range-name"></span> <span class="caret"></span>
			</a>
		</li>
	</ul>
}

<div id="device-settings" class="row collapse expandable">
	<div class="expandable-content">
		<button type="button" class="close" data-toggle="collapse" data-target="#device-settings" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<button type="button" class="btn btn-default btn-refresh">Обновить</button>
	</div>
</div>

<div id="time-range" class="row collapse expandable">
	<div class="expandable-content">
		<button type="button" class="close" data-toggle="collapse" data-target="#time-range" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="col-md-12">
			@foreach (var column in Model.QuickRanges)
			{
				<ul class="pull-right">
					@foreach (var range in column)
					{
						<li><a href="#from=@range.From&to=@range.To" data-from="@range.From" data-to="@range.To" data-name="@range.Name">@range.Name</a></li>
					}
				</ul>
			}
			<form class="form-horizontal pull-right" action="#" method="get">
				<div class="form-group">
					<label for="from" class="col-sm-5 control-label">From</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="from" value="now-1h" />
					</div>
				</div>
				<div class="form-group">
					<label for="to" class="col-sm-5 control-label">To</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="to" value="now" />
					</div>
				</div>
				@*<div class="form-group">
						<label for="refresh-interval" class="col-sm-5 control-label">Auto refresh</label>
						<div class="col-sm-7">
							<select class="form-control" id="refresh-interval">
								<option>Off</option>
								<option>15 seconds</option>
								<option>30 seconds</option>
								<option>1 minute</option>
							</select>
						</div>
					</div>*@
				<div class="form-group">
					<div class="col-sm-offset-5 col-sm-7">
						<button type="submit" class="btn btn-default">Apply</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row dashboard-container" data-device-id="@Model.Id">
	
	<div id="app" data-device-id="@Model.Id"></div>

	<div class="col-md-6">
		<i class="loading-indicator pull-right fa fa-circle-o-notch fa-spin fa-fw"></i>
		<div id="chart" data-device-id="@Model.Id"></div>
	</div>

</div>

@section scripts
{
	<script type="text/javascript" src="~/build/app.js"></script>
}
